{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<nav class="navbar">
    <div class="container-fluid mx-3">
      <img src=""/>
      <a href="{% url 'home' %}" class="navbar-brand">Home</a>
      <a href="{% url 'login' %}">Log In</a>
      <a href="{% url 'signup' %}"> Sign Up</a>
      <a href="{% url 'about' %}">About Us</a>
    </div>
  </nav>

<div class="card">
    <form method="post">
        <h2>Sign Up</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form>
</div>
<footer>
    <a href="{% url 'home' %}" class="nav-link">Home</a>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'signup' %}"> Sign Up</a>
    <a href="{% url 'about' %}">About Us</a>
  </footer>
{% endblock %}