body {
  background-color: rgb(87, 84, 84);
  padding: 20px;
  border: 5px #FA877D solid;
  border-radius: 4px;
}

.navbar {
  margin-bottom: 30px;
  padding: 20px;
  background-image: linear-gradient(#3c644e, #8ccfaa);
  width: 95%;
  text-align: right;
  border: #000000 2px solid;
  border-radius: 4px;
}

.navbar a {
  color: rgb(23, 23, 23);
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #FA877D;
}

footer {
  background-image: linear-gradient(#3c644e, #8ccfaa);
  height: 30px;
  display: flex;
  margin-top: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer a {
  color: black;
  padding: 8px 8px 8px 32px;
  display: block;
  text-decoration: none;
}

footer a:hover {
  color: #FA877D;
}

footer {
  background-image: linear-gradient(#3c644e, #8ccfaa);
  height: 30px;
  display: flex;
  margin-top: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

}

.doc {
  width: 50%;
}

li {
  padding: 10px;
  border: #000000 1px solid;
  text-decoration: none;
  width: 60%;
  display: flex;
  margin: auto;
  margin-top: 10px;
  border-radius: 4px;
  background-color: rgb(253, 252, 252);
}