{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<nav class="navbar">
  <div class="container-fluid mx-3">
  <a href="{% url 'home' %}">Home</a>
  <a href="{% url 'bulletin' %}">Bulletin</a>
  <a href="{% url 'events' %}">Events</a>
  <a href="{% url 'documents' %}">Documents</a>
  <img id="logo" src="{{ '/static/TW_logo.jpg' }}">
  </div>
</nav>
{{ success }}
<h1>Contact Us</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-actions">
      <button type="submit">Send</button>
    </div>
</form>

<footer>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'logout' %}">Log Out</a>
    <a href="{% url 'password_reset' %}">Reset Password</a>
    <a href="{% url 'contact' %}">Contact</a>
</footer>
{% endif %}
{% endblock %}